@import 'normalize.css';

html { overflow-y: scroll; }

html, body {
  height: 97%;
}


/*
 * Main List
 */

.input-main {
  display: block;
  width: 80%;
  max-width: 40rem;
  margin: 2.5888rem auto;
  font-size: 1.618rem;
  line-height: 1.6;
}

ul {
  display: block;
  width: 80%;
  max-width: 40rem;
  margin: 2.5888rem auto;
  list-style: none;
  font-size: 1.618rem;
  line-height: 1.6;
  padding: 0;
}


/*
 * Action List
 */

.input-actions {
  margin: 1.2rem 0 1.2rem;
  font-size: 1.2rem;
  width: 40%;
  font-weight: normal;
}

.input-edit {
  width: 90%;
}

.input-note {
  margin: 1.2rem 0 0;
  font-size: 1.2rem;
  width: 80%;
  font-weight: normal;
  font-size: 1rem;
}

.actions ul {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}


/*
*   Placeholder styles
*/

.input-main::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: hsla(0, 0%, 60%, 0.2);
  text-align: center;
}

.input-main::-moz-placeholder { /* Firefox 19+ */
  color: hsla(0, 0%, 60%, 0.2);
  text-align: center;
}

.input-main:-ms-input-placeholder { /* IE 10+ */
  color: hsla(0, 0%, 60%, 0.2);
  text-align: center;
}

.input-main:-moz-placeholder { /* Firefox 18- */
  text-align: center;
  color: hsla(0, 0%, 60%, 0.2);
}

.actions input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: hsla(0, 0%, 60%, 0.2);
  text-align: center;
}

.actions input::-moz-placeholder { /* Firefox 19+ */
  color: hsla(0, 0%, 60%, 0.2);
  text-align: center;
}

.actions input:-ms-input-placeholder { /* IE 10+ */
  color: hsla(0, 0%, 60%, 0.2);
  text-align: center;
}

.actions input:-moz-placeholder { /* Firefox 18- */
  text-align: center;
  color: hsla(0, 0%, 60%, 0.2);
}

